  <div class="contenedor" style="color:#EEE6E6">
    <center><h1>Registro de Categorias</h1></center>
    <div class="row" style="margin: 1% 13%;">
      <form>
  
  <h3>Categorias</h3>
  <label for="nom_categoria">Nombre de la Categoria:</label><input class="form-control" placeholder="Escriba el nombre de la Categoria" ng-model="categoriaform.descripcion" id="descripcion" name="descripcion" type="text"/>
  
  <br>
  <br>
  <center><button type="button" class="btn btn-primary" ng-click="guarda_categoria()" ng-disabled="form.$invalid">
  <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>Guardar
  </button></center>
  </form>
</div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>