<div class="contenedor" style="color:#EEE6E6">
    <center><h1>Registro de Usuario</h1></center>
    <div class="row" style="margin: 1% 13%;">
      <form>
  
  <h3>Datos Personales</h3>
  <label for="usuario">Usuario</label><input class="form-control" placeholder="Escriba el Nombre del Usuario" ng-model="fomUsuarios.usuario" id="usuario" name="usuario" type="text"/>
  <label for="pasword">Password</label><input class="form-control" placeholder="Escriba la Contraseña" ng-model="fomUsuarios.password" id="pasword" name="pasword" type="Password"/>
  <label for="idPerfil">Puesto:</label>
  <select class="form-control" ng-model="fomUsuarios.perfil" >
            <option value="">--Elige un Perfil--</option>
          <option value="{{perfil.tipo}}" ng-repeat="perfil in perfil_lista"  >{{perfil.tipo}}</option>
        </select>
  <br>
  <br>
  <center><button type="button" class="btn btn-primary" ng-click="alta_usuario()" ng-disabled="form.$invalid">
  <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>Guardar
  </button></center>
  </form>
</div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br>