<div class="contenedor" style="color:#EEE6E6">
    <center><h1>Registro de Perfiles</h1></center>
    <div class="row" style="margin: 1% 13%;">
      <form>
  
  <h3>Datos del Comportamiento del Perfil</h3>
  <label for="tipo">Tipo:</label><input class="form-control" placeholder="Escriba el Tipo de Perfil" ng-model="fomPerfiles.tipo" id="tipo" name="tipo" type="text"/>
  <br>
  <label for="idPuesto">Permisos:</label>
       <table class="table">
        <thead>
          <tr>
        
      </tr>
      </thead>
    <tbody>
          <tr>
        <td><label><input type="checkbox" ng-model="fomPerfiles.permisos[1]"> Generar orden de trabajo</label></td>
        <td><label><input type="checkbox" ng-model="fomPerfiles.permisos[2]"> Editar orden de trabajo</label></td>
        <td><label><input type="checkbox" ng-model="fomPerfiles.permisos[3]"> Ver orden de trabajo</label></td>
        <td><label><input type="checkbox" ng-model="fomPerfiles.permisos[4]"> Imprimir orden de trabajo</label></td>
        <td><label><input type="checkbox" ng-model="fomPerfiles.permisos[5]"> Eliminar  orden de trabajo</label></td>
        <td><label><input type="checkbox" ng-model="fomPerfiles.permisos[6]"> Generar discrepancia</label></td>
          </tr>
           <tr>
        <td><label><input type="checkbox" ng-model="fomPerfiles.permisos[7]"> Actualizar discrepancia</label></td>
        <td><label><input type="checkbox" ng-model="fomPerfiles.permisos[8]"> Ver discrepancia</label></td>
        
        <td><label><input type="checkbox" ng-model="fomPerfiles.permisos[9]"> Imprimir discrepancia</label></td>
        <td><label><input type="checkbox" ng-model="fomPerfiles.permisos[10]"> Eliminar discrepacia</label></td>
        <td><label><input type="checkbox" ng-model="fomPerfiles.permisos[11]"> Cerrar discrepancia</label></td>
        <td><label><input type="checkbox" ng-model="fomPerfiles.permisos[12]"> Agregar evento</label></td>
          </tr>
            <tr>
        <td><label><input type="checkbox" ng-model="fomPerfiles.permisos[13]"> Eliminar evento</label></td>
        <td><label><input type="checkbox" ng-model="fomPerfiles.permisos[14]"> Agregar aeronave</label></td>
        <td><label><input type="checkbox" ng-model="fomPerfiles.permisos[15]"> Actualizar aeronave</label></td>
        <td><label><input type="checkbox" ng-model="fomPerfiles.permisos[16]"> Eliminar aeronave</label></td>
        <td><label><input type="checkbox" ng-model="fomPerfiles.permisos[17]"> Agregar empresa</label></td>
        <td><label><input type="checkbox" ng-model="fomPerfiles.permisos[18]"> Actualizar empresa</label></td>
          </tr>
          <tr>
        <td><label><input type="checkbox" ng-model="fomPerfiles.permisos[19]"> Eliminar empresa</label></td>
        <td><label><input type="checkbox" ng-model="fomPerfiles.permisos[20]"> Despachar vale</label></td>
        <td><label><input type="checkbox" ng-model="fomPerfiles.permisos[21]"> Agregar componente en Disc.</label></td>
        <td><label><input type="checkbox" ng-model="fomPerfiles.permisos[22]"> Actualizar componente en Disc.</label></td>
        <td><label><input type="checkbox" ng-model="fomPerfiles.permisos[23]"> Eliminar componente en Disc.</label></td>
        <td><label><input type="checkbox" ng-model="fomPerfiles.permisos[24]"> Agregar categoria</label></td>
          </tr>
            <tr>
        <td><label><input type="checkbox" ng-model="fomPerfiles.permisos[25]"> Actualizar categoria</label></td>
        <td><label><input type="checkbox" ng-model="fomPerfiles.permisos[26]"> Eliminar categoria</label></td>
        <td><label><input type="checkbox" ng-model="fomPerfiles.permisos[27]"> Agregar unidad de medida</label></td>
        <td><label><input type="checkbox" ng-model="fomPerfiles.permisos[28]"> Actualizar unidad de medida</label></td>
        <td><label><input type="checkbox" ng-model="fomPerfiles.permisos[29]"> Eliminar unidad de medida</label></td>
        <td><label><input type="checkbox" ng-model="fomPerfiles.permisos[30]"> Agregar condicion</label></td>
          </tr>
           <tr>
        <td><label><input type="checkbox" ng-model="fomPerfiles.permisos[31]"> Actualizar condicion</label></td>
        <td><label><input type="checkbox" ng-model="fomPerfiles.permisos[32]"> Eliminar condicion</label></td>
        <td><label><input type="checkbox" ng-model="fomPerfiles.permisos[33]"> Despachar requisicion</label></td>
        <td><label><input type="checkbox" ng-model="fomPerfiles.permisos[34]"> Asignar horas hombre</label></td>
        <td><label><input type="checkbox" ng-model="fomPerfiles.permisos[35]"> Iniciar periodo</label></td>
        <td><label><input type="checkbox" ng-model="fomPerfiles.permisos[36]"> Pausar periodo</label></td>
          </tr>
          <tr>
        <td><label><input type="checkbox" ng-model="fomPerfiles.permisos[37]"> Terminar periodo</label></td>
        <td><label><input type="checkbox" ng-model="fomPerfiles.permisos[38]"> Reiniciar periodo</label></td>
        <td><label><input type="checkbox" ng-model="fomPerfiles.permisos[39]"> Agregar empleado</label></td>
        <td><label><input type="checkbox" ng-model="fomPerfiles.permisos[40]"> Actualizar empleado</label></td>
        <td><label><input type="checkbox" ng-model="fomPerfiles.permisos[41]"> Eliminar empleado</label></td>
        <td><label><input type="checkbox" ng-model="fomPerfiles.permisos[42]"> Agregar puesto</label></td>
          </tr>
          <tr>
        <td><label><input type="checkbox" ng-model="fomPerfiles.permisos[43]"> Actualizar puesto</label></td>
        <td><label><input type="checkbox" ng-model="fomPerfiles.permisos[44]"> Eliminar puesto</label></td>
        <td><label><input type="checkbox" ng-model="fomPerfiles.permisos[45]"> Agregar perfil</label></td>
        <td><label><input type="checkbox" ng-model="fomPerfiles.permisos[46]"> Aactualizar perfil</label></td>
        <td><label><input type="checkbox" ng-model="fomPerfiles.permisos[47]"> Eliminar perfil</label></td>
        <td><label><input type="checkbox" ng-model="fomPerfiles.permisos[48]"> Agregar usuario</label></td>
          </tr>
          <tr>
        <td><label><input type="checkbox" ng-model="fomPerfiles.permisos[49]"> Actualizar usuario</label></td>
        <td><label><input type="checkbox" ng-model="fomPerfiles.permisos[50]"> Eliminar usuario</label></td>
        <td><label><input type="checkbox" ng-model="fomPerfiles.permisos[51]"> Agregar componente en inve.</label></td>
        <td><label><input type="checkbox" ng-model="fomPerfiles.permisos[52]"> Aactualizar componente en inve.</label></td>
        <td><label><input type="checkbox" ng-model="fomPerfiles.permisos[53]"> Eliminar componente en inve.</label></td>
          </tr>
        </tbody>
        </table>
     
  <br>
  <br>
  <center><button type="button" class="btn btn-primary" ng-click="alta_perfil()" ng-disabled="form.$invalid">
  <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>Crear
  </button></center>
  </form>
</div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br>
