  <div class="contenedor" style="color:#EEE6E6">
    <center><h1>Registro de Condicion</h1></center>
    <div class="row" style="margin: 1% 13%;">
      <form>
  
  <h3>Condiciones</h3>
  <label for="clave">Clave de la Condicion:</label><input class="form-control" placeholder="Escribe la clave de la Condicion" ng-model="condicionform.clave" id="clave" name="clave" type="text"/>
  <label for="descripcion">Nombre de la Condicion:</label><input class="form-control" placeholder="Escriba el estado de la Condicion" ng-model="condicionform.descripcion" id="descripcion" name="descripcion" type="text"/>
  
  <br>
  <br>
  <center><button type="button" class="btn btn-primary" ng-click="guarda_condicion()" ng-disabled="condicionform.$invalid">
  <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>Guardar
  </button></center>
  </form>
</div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>