
<link href="css/estilos.css" rel="stylesheet" type="text/css" />
<link href="css/tabla.css" rel="stylesheet" type="text/css" />
<script>
  $('#mydetalle').on('shown.bs.modal', function () {
  $('#myInput').focus()
})
</script>
<div class="contenedor">
  <center><h3 style="color:#EEE6E6">Requisiciones para la pieza: <samp>{{requisicionescomponente.desComponente}}</samp></h3></center>
  <br>
  <label style="color:#EEE6E6">Clave del componente</label>
   <samp style="color:#EEE6E6">{{requisicionescomponente.idComponente}}</samp>
  
   <div class="row" style="margin: 1% 1%;">
 <div class="col-xs-4">
  
  </div>
  </div>
<table class="table table-striped">
    <thead>
      <tr bgcolor="#A9F5F2">
       <!-- <th>ID del Componente</th>
        <th>nombre del Componente</th>-->
        <th>Folio de la requisicion</th>
        <th>Fecha de ingreso</th>
        <th>Cantidad requerida</th>
        <th>Estatus</th>
        <th>Accion</th>
      </tr>
  </thead>
    <tbody>
      <tr ng-repeat="rq in requisicionescomponente.requisiciones">
        <!--<td>{{requisicion.idComponente}}</td>
        <td>{{requisicion.d_componente}}</td>-->
        <td>{{rq.folio}}</td>
        <td>{{rq.fechaApertura}}</td>
        <td>{{rq.numero_piezas}}</td>
        <td>{{rq.estatus}}</td>
        <td>
          <button type="button" class="btn btn-default" data-toggle="modal" ng-click="muestra(rq)" data-target="#mydetalle">
  <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
</button>
<!--<input type ='button' value = 'texto boton' onclick="window.open('http://localhost/aeronau/Detalle_discrepancias.html', 'width=800,height=600');"/>--> 
</td>
      </tr>
    </tbody>
      <tfoot>
      <tr>
        <td colspan="3">El Numero requisiciones es:</td>
        <td ng-bind="requisicionescomponente.requisiciones.length"></td>
      </tr>
    </tfoot>
  </table>
  <br><br><br><br><br>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
<!--*****************************************MODAL DE REQUISICIONES**************************************-->
<div class="modal fade" id="mydetalle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <center><h4 class="modal-title" id="myModalLabel">Detalle componente</h4></center>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-xs-4">
           <label for="con_nombre">Datos:</label>
              <br>
                <label>ID:</label><span>{{detalle_requisicion.folio}}</span>
                <br>
                <label>Nombre del componente:</label><span>{{detalle_requisicion.folio_componente}}</span>
                <br>
            </div>
          </div>
            </form>
      </div>
      <div class="modal-footer">
           <button type="button" class="btn btn-primary" ng-click="actualizar(detalle_requisicion.folio)">Actualizar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>