
<link href="css/estilos.css" rel="stylesheet" type="text/css" />
<link href="css/tabla.css" rel="stylesheet" type="text/css" />
<div class="contenedor">
  <center><h3 style="color:#EEE6E6">Requisiciones para la pieza: <samp>{{requisicionescomponente.desComponente}}</samp></h3></center>
  <br>
  <label style="color:#EEE6E6">Clave del componente</label>
   <samp style="color:#EEE6E6">{{requisicionescomponente.idComponente}}</samp>
  
   <div class="row" style="margin: 1% 1%;">
 <div class="col-xs-4">
  
  </div>
  </div>
<table class="table table-striped">
    <thead>
      <tr bgcolor="#A9F5F2">
       <!-- <th>ID del Componente</th>
        <th>nombre del Componente</th>-->
        <th>Folio de la requisicion</th>
        <th>Fecha de ingreso</th>
        <th>Cantidad requerida</th>
        <th>Estatus</th>
        <th>Accion</th>
      </tr>
  </thead>
    <tbody>
      <tr ng-repeat="rq in requisicionescomponente.requisiciones">
        <!--<td>{{requisicion.idComponente}}</td>
        <td>{{requisicion.d_componente}}</td>-->
        <td>{{rq.folio}}</td>
        <td>{{rq.fechaApertura}}</td>
        <td>{{rq.numero_piezas}}</td>
        <td>{{rq.estatus}}</td>
        <td>
<button type="button" class="btn btn-default" aria-label="Left Align" ng-click="actualizar(rq.folio)">
          <span class="glyphicon glyphicon-share" aria-hidden="true"></span></button>
<!--<input type ='button' value = 'texto boton' onclick="window.open('http://localhost/aeronau/Detalle_discrepancias.html', 'width=800,height=600');"/>--> 
</td>
      </tr>
    </tbody>
      <tfoot>
      <tr>
        <td colspan="3">El Numero requisiciones es:</td>
        <td ng-bind="requisicionescomponente.requisiciones.length"></td>
      </tr>
    </tfoot>
  </table>
  <br><br><br><br><br>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>