<link href="css/estilos.css" rel="stylesheet" type="text/css" />
<link href="css/tabla.css" rel="stylesheet" type="text/css" />
<!--<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-secondary" OnClick="location.href='http://localhost/aeronau/Orden_de_trabajo.html'">Generar una O/T</button>
  <button type="button" class="btn btn-secondary" OnClick="location.href='http://localhost/aeronau/Ordenes_generadas.html'">Ordenes Generadas</button>
</div>-->
<script>
  $('#mydetalle').on('shown.bs.modal', function () {
  $('#myInput').focus()
})
</script>
	<div class="contenedor">
<center><h3 style="color:#EEE6E6">Inventario Registrado</h3></center>
  <br>
  <div class="row" style="margin: 1% 1%;">
 <div class="col-xs-4">
  <label for="d_componente" style="color:#EEE6E6">Filtrar por componente:</label><input class="form-control" placeholder="Escriba el nombre del componente" ng-model="filtro.d_componente"/>
  </div>
  </div>
<br>
 <table class="table table-striped">
    <thead>
      <tr bgcolor="#A9F5F2">
        <th>ID</th>
        <th>Feha de ingreso</th>
        <th>Componente</th>
        <th>Descripcipn</th>
        <th>Existencia</th>
        <th>Faltantes</th>
        <th>Accion</th>
      </tr>
  </thead>
    <tbody>
      <tr ng-repeat="inv_consulta in inv_consultas | filteri18n:{d_componente:filtro.d_componente}">
        <td>{{inv_consulta.id}}</td>
        <td>{{inv_consulta.fechaApertura}}</td>
        <td>{{inv_consulta.d_componente}}</td>
        <td>{{inv_consulta.d_descripcion}}</td>
        <td>{{inv_consulta.d_cantidad}}</td>
        <td>{{inv_consulta.d_pendientes}}</td> 
        <td>      <button type="button" class="btn btn-default" data-toggle="modal" ng-click="muestra(inv_consulta)" data-target="#mydetalle">
  <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a ng-href="#/Inventario/requisicion/{{inv_consulta.id}}">
           <button type="button" class="btn btn-default" aria-label="Left Align">
  <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
</button></a>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button type="button" class="btn btn-default" aria-label="Left Align">
  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
</button>
<!--<input type ='button' value = 'texto boton' onclick="window.open('http://localhost/aeronau/Detalle_discrepancias.html', 'width=800,height=600');"/>--> 

</td>
      </tr>
    </tbody>
      <tfoot>
      <tr>
        <td colspan="3">El Numero piezas registradas es:</td>
        <td ng-bind="inv_consultas.length"></td>
      </tr>
    </tfoot>
  </table>
<br><br><br><br><br>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<!--*****************************************MODAL DE REQUISICIONES**************************************-->
<div class="modal fade" id="mydetalle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <center><h4 class="modal-title" id="myModalLabel">Detalle componen</h4></center>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-xs-4">
           <label for="con_nombre">Seleciona Requsicion:</label>
              <br>
                <label>ID:</label><span>{{detalle_componentes.id}}</span>
                <br>
                <label>Nombre del componente:</label><span>{{detalle_componentes.d_componente}}</span>
                <br>
                <label>Cantidad:</label><span>{{detalle_componentes.d_cantidad}}</span>
                <br>
                <label>ID:</label><span>{{detalle_componentes.id}}</span>
                <label>ID:</label><span>{{detalle_componentes.id}}</span>
                <label>ID:</label><span>{{detalle_componentes.id}}</span>
                <label>ID:</label><span>{{detalle_componentes.id}}</span>
                <label>Descripcion:</label><span>{{detalle_componentes.descomponente}}</span>
            </div>
          </div>
            </form>
      </div>
      <div class="modal-footer">
           <button type="button" class="btn btn-primary" ng-click="alta_discrepancia()">Guardar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>