
<link href="css/tabla.css" rel="stylesheet" type="text/css" />
<div class="contenedor">
 <center><h1 style="color:#EEE6E6">Consulta de Empresas</h1></center>
 <br>
<table class="tito">
    <thead>
      <tr style="background-color: #201b17c9;">
        <th>Nombre Empresa</th>
        <th>Razon Social</th>
        <th>RFC</th>
        <th>Pais</th>
        <th>Nombre del Contacto</th>
        <th>Telefono</th>
        <th>Correo</th>
        <th>Accion</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="empre in empresas_consultas">
        <td>{{empre.nombreEmpresa}}</td>
        <td>{{empre.razonSocial}}</td>
        <td>{{empre.rfc}}</td>
        <td>{{empre.pais}}</td>
        <td>{{empre.nombreContacto}}</td>
        <td>{{empre.telefono}}</td>
        <td>{{empre.email}}</td>
        <td>
           <button type="button" class="btn btn-default" ng-click="elimina_empres(empre.idEmpresa)">
  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
</button>
<!--<input type ='button' value = 'texto boton' onclick="window.open('http://localhost/aeronau/Detalle_discrepancias.html', 'width=800,height=600');"/>--> 

</td>
      </tr>
    </tbody>
      <tfoot>
      <tr>
        <td colspan="3">El Numero de ordenes Generadas es:</td>
        <td ng-bind="empresas_consultas.length"></td>
      </tr>
    </tfoot>
  </table>
  <br><br><br><br><br>
</div>
<br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br> 