
<link href="css/tabla.css" rel="stylesheet" type="text/css" />
<div class="contenedor">
 <center><h1 style="color:#EEE6E6">Consulta de Aeronaves</h1></center>
 <br>
<table class="tito">
    <thead>
      <tr style="background-color: #201b17c9;">
        <th>N. Serie</th>
        <th>Matricula</th>
        <th>Modelo</th>
        <th>Nacionalidad</th>
        <th>tiempo Vuelo</th>
        <th>Aterrizaje</th>
        <th>Accion</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="aeron in aeronaves_consultas">
        <td>{{aeron.numeroSerie}}</td>
        <td>{{aeron.matricula}}</td>
        <td>{{aeron.modelo}}</td>
        <td>{{aeron.nacionalidad}}</td>
        <td>{{aeron.tiempovuelo}}</td>
        <td>{{aeron.aterrizaje}}</td>
        <td>
           <button type="button" class="btn btn-default" ng-click="elimina_aero(aeron.id)">
  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
</button>
<!--<input type ='button' value = 'texto boton' onclick="window.open('http://localhost/aeronau/Detalle_discrepancias.html', 'width=800,height=600');"/>--> 

</td>
      </tr>
    </tbody>
      <tfoot>
      <tr>
        <td colspan="3">El Numero de ordenes Generadas es:</td>
        <td ng-bind="aeronaves_consultas.length"></td>
      </tr>
    </tfoot>
  </table>
  <br><br><br><br><br>
</div>
<br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br> 