<div class="contenedor" style="color:#EEE6E6">
 <center><h1>Editar Discrepancia</h1></center>
<form name="form" novalidate>
  <div class="row" style="margin: 1% 13%;">
     <form>
          <div class="row">
            <div class="col-xs-4">
           <label for="con_nombre">Selecione Taller:</label>
              <br>
           <select ng-model="discrepancia_fo.taller" class="form-control">
              <option value="01">01 MANTENIMIENTO</option>
              <option value="02">02</option>
              <option value="03">03 ELECTRICO</option>
              <option value="04">04 LAMINISTERIA</option>
              <option value="05">05 AVIONIC´S</option>
              <option value="06">06 PINTURA</option>
              <option value="07">07 CARPINTERIA</option>
              <option value="08">08 VESTIDURAS</option>
            </select>
            </div>
            <div class="col-xs-4">
             <label for="con_nombre">Selecione Seccion:</label>
              <br>
           <select ng-model="discrepancia_fo.seccion"  class="form-control">
              <option value="01">01 TRABAJOS DE ELECTRICO</option>
              <option value="02">02 PROGRAMADO</option>
              <option value="03">03 TRABAJOS DE INSPECCION</option>
              <option value="04">04 INCORPORACION DE DIRECTIVAS</option>
              <option value="05">05 TRABAJOS DE AVIONICS</option>
            </select>
          </div>
          </div>
           <div class="row">
            <br>
          <label for="con_nombre">&nbsp;&nbsp;Descripcion/description:</label>
          <br>
          <div class="col-xs-11">
          <center><textarea class="form-control" rows="4" cols="30" placeholder="Escriba la Descripcion." ng-model="discrepancia_fo.descripcion">
        </textarea></center>
      </div>
        <br>
        <div class="col-xs-11">
          <br>
        <label for="con_nombre">Acion Tomada:</label>
        <br>
        <center><textarea class="form-control"  rows="4" cols="30" placeholder="Escriba la accion Tomada." ng-model="discrepancia_fo.accion">
        </textarea></center>
            </div>
            </div>
            <div class="row">
              <label for="d_componente">Seleciona componenete de almacen:</label>
        <br>
        <br><br>
  <h3>Eventos Registrados</h3>
    <table class="table table-striped">
    <thead>
      <tr style="background-color: #201b17c9;">
        <th>Nombre del evento</th>
        <th>Duracion</th>
        <th>Costo</th>
      </tr>
    </thead>
    <tbody>
      <tr style="background-color: #201b17c9;" ng-repeat="eve in discrepancia.eventos">
        <td>{{eve.nombreEvento}}</td>
        <td>{{eve.duracion}}</td>
        <td>{{eve.costo}}</td>
      </tr>
    </tbody>
      <tfoot>
      <tr>
        <td colspan="3">Numero de eventos:</td>
        <td ng-bind="discrepancia.eventos.length"></td>
      </tr>
    </tfoot>
  </table>
  <br>
  <h3>Eventos</h3>
  <label for="matricula">Nombre del evento:</label><input class="form-control" placeholder="Escriba el nombre del evento" id="nombreEvento" name="nombreEvento" type="text" ng-model="evento_tabla.nombreEvento" required/>

  <label for="modelo">Duracion:</label><input class="form-control" placeholder="Escriba la duracion en horas" id="duracion" name="duracion" type="number" ng-model="evento_tabla.duracion" required/>
  <label for="numeroSerie">Costo:</label><input class="form-control" placeholder="Escriba el costo" id="numeroSerie" name="numeroSerie" type="number" ng-model="evento_tabla.costo" required/>
  <br>
  <button type="button" class="btn btn-primary" ng-click="Agregar()" ng-disabled="form.$invalid">
  <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Agregar
  </button>
  <br>
  <br>
  <br>
  <br>
   <table class="table table-striped">
    <thead>
      <tr style="background-color: #201b17c9;">
        <th>ID</th>
        <th>Nombre del evento</th>
        <th>Duracion</th>
        <th>Costo</th>
        <th>Accion</th>
      </tr>
    </thead>
    <tbody>
      <tr style="background-color: #201b17c9;" ng-repeat="evento in eventos">
        <td>{{evento.$$hashKey}}</td>
        <td>{{evento.nombreEvento}}</td>
        <td>{{evento.duracion}}</td>
        <td>{{evento.costo}}</td>
        <td><button type="button" class="btn btn-primary" ng-click="Quitar()" ng-disabled="form.$invalid">
  <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Quitar
  </button>
<!--<input type ='button' value = 'texto boton' onclick="window.open('http://localhost/aeronau/Detalle_discrepancias.html', 'width=800,height=600');"/>--> 

</td>
      </tr>
    </tbody>
  </table>
  </div>
   <br>
  <center><button type="button" class="btn btn-primary" ng-click="guardar_edit()">
  <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>Guardar
  </button></center>
</form>
</div>

<br><br><br><br><br><br><br><br><br><br> 