
  <div class="contenedor" style="color:#EEE6E6">
 <center><h1>Alta de inventario</h1></center>
	 <div class="row" style="margin: 1% 20%;">
	<div class="col-xs-11">
		<form name="form" novalidate>
        <label for="d_componente">Componente/component:</label><input class="form-control" placeholder="Escriba el Nombre del Componente" id="d_componente" name="d_componente" type="text" ng-model="inventario.d_componente"/>
        <label for="d_parte">No.De parte/p.n.:</label><input class="form-control" placeholder="Escriba el No. de Parte" id="d_parte" name="d_parte" type="text" ng-model="inventario.d_parte"/>
         <label for="d_cantidad">Cantidad/qty:</label><input class="form-control" placeholder="Escriba la Cantidad" id="d_cantidad" name="d_cantidad" type="number" ng-model="inventario.d_cantidad"/>
         <label for="d_cantidad">Descripcion:</label>
         <textarea class="form-control"  rows="4" cols="30" placeholder="Escriba la descripcion del componente." ng-model="inventario.d_descripcion">
        </textarea>
                <br>
			  <center><button type="button" class="btn btn-primary" ng-click="alta_inventario()" ng-disabled="form.$invalid">
			  <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Generar
			  </button></center>
			</form>
          </div>
      </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>