
  <div class="contenedor" style="color:#EEE6E6">
 <center><h1>Orden de Trabajo</h1></center>
<form name="form" novalidate>
  <div class="row" style="margin: 1% 1%;">
  <div class="col-xs-3">
	<label for="folio" >Folio:</label>
  <p><span id ="folio">{{new_folio}}</span></p>
  </div>
  <div class="col-xs-3">
  <label for="fechaCreacion">Fecha:</label><p><span id ="fecha">{{fo.fechaApertura | date:'dd-MM-yyyy'}}</span></p>
  </div>
  </div>
  <div class="row" style="margin: 1% 1%;">
  <div class="col-xs-4">
  <h3>Contacto</h3>
  <label for="empresa">Seleccione Empresa:</label> <select class="form-control" ng-model="fo.empresa" >
    <option value="">--Elige empresa--</option>
          <option value="{{empresa.idEmpresa}}" ng-repeat="empresa in empresas"  >{{empresa.nombreEmpresa}}</option>
        </select>
  </div>
  <div class="col-xs-4">
  <h3>Aeronave</h3>
  <label for="aeronave">Seleccione Aeronave:</label><select class="form-control" ng-model="fo.aeronave" >
    <option value="">--Elige aeronave--</option>
          <option value="{{aeronave.numeroAeronave}}" ng-repeat="aeronave in aeronaves"  >{{aeronave.matricula}}</option>
        </select>
  </div>
  
  </div>
   <br>
  <center><button type="button" class="btn btn-primary" ng-click="guardar()" ng-disabled="form.$invalid">
  <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Generar
  </button></center>
</form>
</div>

<br><br><br><br><br><br><br><br><br><br> 