<link href="css/estilos.css" rel="stylesheet" type="text/css" />
<link href="css/tabla.css" rel="stylesheet" type="text/css" />
<!--<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-secondary" OnClick="location.href='http://localhost/aeronau/Orden_de_trabajo.html'">Generar una O/T</button>
  <button type="button" class="btn btn-secondary" OnClick="location.href='http://localhost/aeronau/Ordenes_generadas.html'">Ordenes Generadas</button>
</div>-->
<script>
  $('#mydetalle').on('shown.bs.modal', function () {
  $('#myInput').focus()
})
</script>
	<div class="contenedor">
<center><h3 style="color:#EEE6E6">Despachar Vales de Salida</h3></center>
  <br>
  <div class="row" style="margin: 1% 1%;">
 <div class="col-xs-4">
  <label for="d_componente" style="color:#EEE6E6">Filtrar por Discrepancia:</label><input class="form-control" placeholder="Escriba el Numero de la Discrepancia" ng-model="filtro.discrepancia" />
  </div>
  </div>
<br>
 <table class="table table-striped">
    <thead>
      <tr bgcolor="#A9F5F2">
        <th>ID discrepancia</th>
        <th>Feha de ingreso</th>
        <th>Numero de Vale</th>
        <th>Estatus</th>
        <th>Accion</th>
        
      </tr>
  </thead>
    <tbody>
      <tr ng-repeat="discrepancia_v in discrepancia_vale | filtroV:{idDiscrepancia:filtro.discrepancia}">
        <td>{{discrepancia_v.idDiscrepancia}}</td>
        <td>{{discrepancia_v.fecha}}</td>
        <td>{{discrepancia_v.id}}</td>
        <td>{{discrepancia_v.estatus}}</td>
        <td>      <button type="button" class="btn btn-default" data-toggle="modal" ng-click="muestraV(discrepancia_v)" data-target="#mydetalle">
  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="vale/generaValePdf/{{discrepancia_v.id}}" target="_blank"><button type="button" class="btn btn-default" aria-label="Left Align" ng-click="Imprime_Vale()">
  <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
</button></a>
<!--<input type ='button' value = 'texto boton' onclick="window.open('http://localhost/aeronau/Detalle_discrepancias.html', 'width=800,height=600');"/>--> 

</td>
      </tr>
    </tbody>
      <tfoot>
      <tr>
        <td colspan="3">Total de vales Registrados:</td>
        <td ng-bind="inv_consultas.length"></td>
      </tr>
    </tfoot>
  </table>
<br><br><br><br><br>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<!--*****************************************MODAL DE REQUISICIONES**************************************-->
<div class="modal fade" id="mydetalle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <center><h4 class="modal-title" id="myModalLabel">Detalle Vale</h4></center>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
             <h3>&nbsp;&nbsp;Datos:</h3>
            <div class="col-xs-6">
              <br>
                <label>Numero del Vale:</label><span>{{detalle_Vale.id}}</span>
                <br>
                <label>Generado el Dia:</label><span>{{detalle_Vale.fecha}}</span>
                </div>
                 <br>
                 <div class="col-xs-6">
                <label>Discrepancia:</label><span>{{detalle_Vale.idDiscrepancia}}</span>
                <br>
                <label>Estatus:</label><span>{{detalle_Vale.estatus}}</span>
            </div>
          </div>
          <br>
          <div class="row">
            <h3>&nbsp;&nbsp;Componentes:</h3>
          <div class="table-responsive">
        <table class="table table-striped">

  <tr bgcolor="#CEECF5">

    <th>ID</th>

    <th>Nombre del Componente</th>

    <th>Cantidad</th>
  </tr>

  <tr bgcolor="#CEECF5" ng-repeat="detalle in detalle_Vale.items">

    <td>{{detalle.id}}</td>

    <td>{{detalle.nombreComponente}}</td>

    <td>{{detalle.cantidad}}</td>
  </tr>
   <tfoot>
      <tr>
        <td colspan="2">Numero de componentes:</td>
        <td ng-bind="detalle_Vale.items.length"></td>
      </tr>
    </tfoot>
</table>
    
      </div>
      <br>
    
    </div>
            </form>
      </div>
      <div class="modal-footer">
           <button type="button" class="btn btn-primary" ng-click="Despachar_Vale(detalle_Vale.id)">Despachar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>